.header-wrapper {
    position: fixed;
    z-index: 2; /*  z-index: layer의 순서; */ 
    top: 0px; /* 고정시키기 위해 top 0, width 100%를 줌  */
    width: 100%;
    padding: 5px 0px;
    background-color: white;
    box-shadow: 0 8px 16px -8px rgba(0,0,0,.3), 
                0 -6px 16px -6px rgba(0,0,0,.025); 
}

.chats-body { /* padding을 없애기 위해 body에 class 추가함(background 적용시 문제가 되기 때문) */ 
    background-image: url("../images/chatBg.png");
    min-height: 10000vh; /* chat class가 적용된 div에 viewport(screen)의 100% 높이를 줌*/
    padding: 0;
    padding-top: 100px; /* 채팅이 가려져보이므로 내리기 위해 가려진 높이 만큼 padding-top을 줌 */
}


.chats-body .header,
.chats-body .status-bar {
    padding: 0px 20px;
}

.chat__write--container {
    position: fixed;
    bottom: 0px;
    margin: 0 auto; /* 가운데 정렬하기 */ 
    left: 0; /* 가운데 정렬하기 */ 
    right: 0; /* 가운데 정렬하기 */ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
   /*   */
}

.chat__icon-left {
    position: absolute;
    left: 10px;
}

.chat__icon-right {
    position: absolute;
    right: 10px;
}

@keyframes float{
    0% {
        transform: translateY(-100px);
        box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 
                0 8px 16px -8px rgba(0,0,0,.3), 
                0 -6px 16px -6px rgba(0,0,0,.025); /* 수평방향, 수직방향, 블러 | rgba의 마지막 값은 opacity*/
    }
    50%{
        transform: translateY(-110px);
        box-shadow: 0 30px 60px -60px rgba(50,50,93,.25), 
                0 8px 16px -8px rgba(0,0,0,.3), 
                0 -6px 16px -6px rgba(0,0,0,.025); /* 수평방향, 수직방향, 블러 | rgba의 마지막 값은 opacity*/
    }
    100%{
        transform: translateY(-100px);
        box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 
                0 8px 16px -8px rgba(0,0,0,.3), 
                0 -6px 16px -6px rgba(0,0,0,.025); /* 수평방향, 수직방향, 블러 | rgba의 마지막 값은 opacity*/
    }
}

.chat__write {
    margin: 0 auto;
    bottom: 0px;
    width: 100%;
    border-radius: 0px;
    padding: 20px 60px;
    width: 100%;
    border: none;
    font-size: 14px;
    transition: width .5s ease-in-out, border-radius .5s ease-in-out, transform .5s ease-in-out;
}

.chat__write:focus {
    outline: none;
    width: 80%;
    transform: translateY(-100px);
    border-radius: 40px;
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 
                0 8px 16px -8px rgba(0,0,0,.3), 
                0 -6px 16px -6px rgba(0,0,0,.025); /* 수평방향, 수직방향, 블러 | rgba의 마지막 값은 opacity*/
    animation: float 3s linear infinite forwards;
}

.chat__icon {
    font-size: 18px;
    transition: opacity .2s ease-in-out;
}

.chat__write:focus ~ .chat__icon { /* ~: sibling selector */
    opacity: 0;
}

.chat__write i {
    font-size: 22px;
}

.chat__write-column:nth-child(2) {
    width: 80%;
    padding: 20px 10px;
}

.chat-screen .chat__messages {
    border-top: 1px solid #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    padding-top: 30px;
}

.chat__messages .chat__timestamp {
    background-color: white;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: /* rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,*/
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px,
                rgba(0, 0, 0, 0.024) 0px -6px 16px -6px;
    text-transform: uppercase; /* 모든 문자를 대문자로 만들어줌 */ 
    font-weight: 700;
}

.message {
    display: flex;
    align-items: flex-start;
    width: 50%;
    margin-bottom: 20px;
}

.message .message__content {
    width: 80%;
}

.incoming-message {
    align-self: flex-start;
}

.sent-message {
    align-self: flex-end;
}

@keyframes spin{
    from{
        transform: none;
    }
    to{
        transform: rotateY(1turn);
    }
}

.incoming-message img {
    width: 30px;
    border-radius: 15px;
    margin-right: 15px;
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 
                0 8px 16px -8px rgba(0,0,0,.3), 
                0 -6px 16px -6px rgba(0,0,0,.025);
    animation: spin 1s linear infinite;
}

.message .message__bubble {
    background-color: white;
    display: block;
    box-shadow: 0 30px 60px -12px rgba(50,50,93,.25), 
                0 8px 16px -8px rgba(0,0,0,.3), 
                0 -6px 16px -6px rgba(0,0,0,.025);
    padding: 10px 20px;
    border-radius: 30px;
    color: white;
    font-weight: 600;
}

.incoming-message .message__author {
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    font-size: 12px;
}

.incoming-message .message__bubble {
    border-top-left-radius: 0;
    background-image: linear-gradient(to right,#3E5151, #DECBA4);
}

.sent-message .message__bubble {
    border-top-right-radius: 0;
    background-image: linear-gradient(to left,#005AA7, #FFFDE4);
}

@keyframes incomingAnimation {
    from{
        opacity: 0;
        transform: translateX(-200px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

.incoming-message {
    animation: incomingAnimation .5s ease-out forwards; /* forwards: 끝까지 value 유지 */
}

@keyframes sentAnimation {
    from{
        opacity: 0;
        transform: translateX(200px);
    }
    to{
        opacity: 1;
        transform: none;
    }
}

.sent-message {
    animation: sentAnimation .5s ease-out forwards;
}