.friends .friends__channel {
  padding: 20px 0px;
  border-top: 1px solid #f7f7f7;
  border-bottom: 1px solid #f7f7f7;
  margin: 20px 0px;
}

.friends__channel .friends__title,
.friends__list .friends__title {
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 12px;
}

.friend--lg {
  margin: 20px 0;
}

.nav .nav__badge {
  position: absolute;
  top: -7px;
  right: -7px;
  font-size: 14px;
  color: white;
  background-color: #dc5d46;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}
